body {
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    font-size: clamp(1rem, 0.875rem + 0.3125vw, 1.25rem);
}  

body.menu-open main {
    opacity: 0.5;
}

main {
    transition: opacity 0.3s ease;
}

img {
    max-width: 100%;
    height: auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.menu li {
    margin-right: 1em;
    display: inline-block;
}

/* Hero Section */
.hero {
    position: relative;
    overflow: hidden;
    padding: 2em;
    display: flex;
}

.hero.hero--centered {
    align-items: center; /* Y-axis */
    justify-content: center; /* X-axis */
}

.hero.hero--fullscreen {
    height: 100vh;
}

.hero.hero--fullscreen .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero.hero--dark {
    background-color: #000;
    color: #fff; 
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

/* END Hero Section */

/* CSS Float Section */

.css-float {
    background-color: red;
}

.css-float img,
.css-float h2 {
    float: left;
}

.css-float img {
    max-width: 640px;
}

/* END CSS Float Section */

/* Flexbox Section */

.flex-container {
    background-color: rgb(123, 0, 123);
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.flex-element {
    background-color: rgb(255, 123, 0);
    color: white;
    padding: 1em;
    text-align: center;
}
/* END Flexbox Section */

/* Card Section */

.card-container {
    max-width: 1440px;
    margin: 8em auto;
    padding: 0 2em;

    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 100%;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.card .hero {
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1em 2em;
    min-height: 320px;
}

.card .hero img {
    opacity: 1;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card .hero .hero-content h2 {
    position: relative;
    z-index: 2;
    color: white;
}

.card a {
    text-decoration: none;
}

.card .card-content {
    padding: 2em;
}

.card .hero::before {
    content: '';
    /* obbligatorio dichiarare il contenuto */
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 1) 0%, 
                    rgba(0, 0, 0, 0) 100%
                );
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.card img {
    transition: transform 0.3s 0s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card .hero:hover img {
    transform: scale(1.2);
} 
/* END Card Section */


.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .card {
        flex: 0 0 calc((100% - 2em) / 3);
    }
}

@media print {
    body {
        display: none;
    }
}